.hello-btn {
  border: none;
  background-color: #ed475f;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  transition: all 0.3s ease-in;
}

.hello-btn:hover {
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  transform: scale(0.9, 0.9);
  cursor: pointer;
}